@model Car

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">
            @Model.Price.ToString("c") <span class="text-muted">@Model.Name</span>
            <a class="btn btn-outline-warning" href="#">Подробнее</a>
        </h2>
        <p class="lead">
            @Model.ShortDesc

        </p>
    </div>
    <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
             width="500" height="500" src="@Model.Img" alt="@Model.Name" />
    </div>

</div>

<hr class="featurette-divider">
