


<h1>Все автомобили</h1>
<h3>@Model.currCategory</h3>
@{
    foreach (var car in Model.AllCars)
    {
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">@car.Price.ToString("c") <span class="text-muted">@car.Name</span></h2>
            <p class="lead">
                Но акционеры крупнейших компаний своевременно верифицированы. Как уже неоднократно упомянуто, 
                предприниматели в сети интернет обнародованы! В целом, конечно, глубокий уровень погружения 
                требует анализа поэтапного и последовательного развития общества. Есть над чем задуматься: 
                многие известные личности неоднозначны и будут представлены в исключительно положительном свете. 
                Ясность нашей позиции очевидна: выбранный нами инновационный путь однозначно фиксирует необходимость 
                новых принципов формирования материально-технической и кадровой базы. В своём стремлении улучшить 
                пользовательский опыт мы упускаем, что действия представителей оппозиции, которые представляют собой 
                яркий пример континентально-европейского типа политической культуры, будут объединены в целые кластеры себе подобных.
            </p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                 width="500" height="500" src="@car.Img" alt="@car.Name" />
        </div>
    </div>
    <hr class="featurette-divider">
    }
}
